.video-container {
    width: 60%;
    margin: 0 auto;
    height: 800px;
}

.video {
    height: 100%;
    width: 100%;
}

.content-container {
    padding: 50px;
    position: relative;
    margin: 20px auto;
    height: 800px;
    width: 80%;
}

.panel {
    height: 300px;
    width: 45%;
    border: 2px solid red;
}

.box1 {
    position: absolute;
    top: 50px;
    /*left: 50px;*/
}

.box2 {
    position: absolute;
    right: 50px;
    top: 300px;
}

.box3 {
    position: absolute;
    bottom: 50px;
}